

<!-- At first run this element will fail because selectedHero is null. Since it is 2 way binded it crashes. 
Use ngIf, to check if the hero is selected before displaying any content to the page. -->

<h2>Hero Roster</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>


   <!-- Send parent component information to child component. (inject hero object to component)-->

   <!-- reference to this object is pass, so any modification are remembered -->

   <!-- [hero] refers to the class property in that component-->
   <!--<app-hero-detail [hero]="selectedHero"></app-hero-detail> -->